[Unit]
Description=Caddy container

[Container]
Image=docker.io/aci2n/private:caddy-prod
PublishPort=127.0.0.1:80:80
AutoUpdate=registry
Network=piano-tree-prod.network

[Service]
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target default.target
