[Unit]
Description=Server container

[Container]
Image=docker.io/aci2n/private:server-prod
AutoUpdate=registry
Network=piano-tree.network

# used in Caddyfile reverse_proxy
NetworkAlias=piano-tree-server-prod

[Service]
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target default.target
